
<div id="project-container" class="project-container">
  <div id="projects-list" class="tabs">
    <div class="project-tab home">
      <a class="project-card-link" href="/"></a>
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="divider-v"></div>
    <% data.project_list.projects.map do | proj |  %>
      <div class="project-tab">
        <a class="project-card-link" href="<%= proj.path %>"></a>
        <p class="tab <%= proj.id === project.id ? "active" : "" %>"><%= proj.name %></p>
      </div>
    <% end %>
  </div>
  <% link_to project.github, class: "project-header", target: "blank" do %>
    <h1><%= project.name %></h1>
    <i class="fa-brands fa-github"></i>
  <% end %>
  <div class="project-details-container">
    <div class="project-details">
      <p><%= project.description_long %></p>
      <p><%= project.pain %></p>
      <p><%= project.solution %></p>
    </div>
    <div class="project-aeas">
      <img class="project-image" src=<%= project.cloudinary_url %> />
      <div class="project-icons">
        <% project.icons.each do |icon| %>
          <i class="fa-brands <%= icon %>"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>